body {
    margin: 0;
    background: linear-gradient(65deg, #d4145a, #fbb03b);
    overflow-x: hidden;
    color: gainsboro !important;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

a {
    color: gainsboro !important;
    text-decoration: none;
    outline: none;
}

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 90vh;
    padding: 20px;
    margin-bottom: 20px;
    width: 20vw;
    .header-title {
        cursor: pointer;
        position: absolute;
        &:hover {
            animation: shake 3s infinite;
        }
    }
    nav {
        margin-top: 4em;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        color: #fe9090;
        font-family: "Times New Roman", Times, serif;
    }
    12% {
        transform: translate(-1px, -2px) rotate(-1deg);
        color: #d4145a;
    }
    22% {
        transform: translate(-3px, 0px) rotate(1deg);
        color: #ff512f;
    }
    33% {
        transform: translate(3px, 2px) rotate(0deg);
        color: #f5444490;
        font-family: Arial, Helvetica, sans-serif;
    }
    44% {
        transform: translate(1px, -1px) rotate(1deg);
        color: #f1272790;
    }
    55% {
        transform: translate(-1px, 2px) rotate(-1deg);
        color: #fbb03b;
    }
    66% {
        transform: translate(-3px, 1px) rotate(0deg);
        color: #ffff00;
        font-family: fantasy;
    }
    77% {
        transform: translate(3px, 1px) rotate(-1deg);
        color: #ff8000;
    }
    89% {
        transform: translate(-1px, -1px) rotate(1deg);
        color: #ff4000;
        font-family: cursive;
    }
    100% {
        transform: translate(1px, 2px) rotate(0deg);
        color: #ff0000;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
}

.main {
    width: 80vw;
}

.main-bg {
    background-image: linear-gradient(-60deg, #d4145a 50%, #fbb03b 50%);
    animation: slide 10s ease-in-out infinite alternate;
    transform: scale(18000%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    opacity: 0.5;
    z-index: -1;
    filter: blur(100px);
}

.layer-1 {
    background-image: linear-gradient(60deg, #ff512f 50%, orange 50%);
    animation-direction: alternate-reverse;
    animation-duration: 15s;
}

.layer-2 {
    background-image: linear-gradient(75deg, orangered 50%, #fe9090 50%);
    animation-duration: 12s;
}

.layer-3 {
    background-image: linear-gradient(-75deg, #f5444490 50%, #f1272790 50%);
    animation-direction: alternate-reverse;
    animation-duration: 20s;
}

.profile-img-border {
    background: linear-gradient(
        45deg,
        #d4145a20,
        #fbb03b20,
        #ff512f20,
        #dd247620,
        #ff61d220
    );
    border-radius: 50em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vh;
    height: 21vh;
    .profile-img {
        width: 19vh;
        height: 19vh;
        border-radius: 50em;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

h4.header-nav-item {
    margin: 0;
    padding: 0.25em;
}
.header-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5em;
    h3 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        padding: 0.5em;
        background-color: orange;
        color: #222831 !important;
    }
    transition: all 0.25s;
}

.accordeon-header {
    padding: 0.5em;
    transition: all 0.1s;
    cursor: pointer;
    background-color: transparent;
}

.accordeon-content {
    transition: max-height ease-in-out 0.5s;
    max-height: 0;
    overflow: hidden;
    margin-left: 2em;
    &.open {
        max-height: 30vh;
    }
}
