.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        text-align: center;
    }
}

.project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .project-card-animation-container {
        display: flex;
        justify-content: center;
        .project-card {
            width: 100%;
            height: auto;
            border-radius: 1em;
            margin: 0;
            margin-bottom: 2em;
            flex-direction: column;
            animation: border-rad-min 50s infinite;
            padding-bottom: 2em;
            &.reversed {
                flex-direction: column-reverse;
                margin: 0;
                margin-bottom: 2em;
                width: 90%;
                border-radius: 1em;
                &:hover {
                    width: 90%;
                }
            }
            &:hover {
                width: 90%;
                .project-card-text {
                    margin: 1em;
                }
                img {
                    width: 100%;
                }
            }
            img {
                transition: all 0.35s ease-in-out;
                border-radius: 1em 1em 0 0;
                width: 100%;
                height: 150px;
                &.reversed {
                    border-radius: 1em 1em 0 0;
                }
                &.organizer-logo {
                    width: 100%;
                    height: 100%;
                    filter: invert(100%);
                }
                &.historia-humo-logo {
                    width: 100%;
                    height: 100%;
                }
            }
            .historia-humo-logo-container {
                width: 100%;
                border-radius: 1em 1em 0 0;
                .historia-humo-logo {
                    padding: 1em;
                }
            }
            .project-card-text {
                transition: all 1s ease-in-out;
                margin-left: 1em;
                margin-right: 1em;
                width: 90%;
            }
        }
    }
}

.playground-project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100vw;
    margin-left: 5vw;
    .playground-project-card {
        position: relative;
        width: 45vw;
        height: 45vw;
        .playground-project-card-floating {
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(15px);
            border-radius: 1em;
            background-clip: blur(10px);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            &:hover {
                top: -0.5em;
            }
            img {
                border-radius: 1em 1em 0 0;
                width: 100%;
                height: 60%;
            }
            h2 {
                margin: 0;
                margin-top: 0.5em;
                text-align: center;
            }
        }
    }
}

.blob-container {
    width: 100%;
    height: 150px;
    border-radius: 1em 1em 0 0;
}

.blob {
    top: 15%;
    left: 35%;
    width: 30%;
}

.coming-soon {
    justify-content: center;
}
