.project-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-description-container {
        align-self: flex-start;
        padding: 1em;
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: none;
        border-radius: 1em;
        width: 85vw;
        margin: 0;
    }
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini-projects-controls {
    width: 75vw;
}
