.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-description-container {
        background-color: rgba(202, 71, 10, 0.247);
        backdrop-filter: blur(15px);
        border-radius: 1em;
        padding: 1em;
        width: 60vw;
        margin-top: 5em;
        margin-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-profile-pic {
        width: 25vw;
        height: 25vw;
        margin-top: 3em;
        .profile-img-border {
            width: 100%;
            height: 100%;
            .profile-img {
                width: 90%;
                height: 90%;
            }
        }
    }
}
