body {
    margin: 0;
    background: linear-gradient(65deg, #d4145a, #fbb03b);
    overflow-x: hidden;
    color: gainsboro !important;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

a {
    color: gainsboro !important;
    text-decoration: none;
    outline: none;
}

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 95vh;
    padding: 20px;
    margin-bottom: 20px;
    width: 20vw;
    background-color: rgba(202, 71, 10, 0.174);
    backdrop-filter: blur(15px);
    transition: width 0.25s ease-in-out;
    &:hover {
        width: 25vw;
        .header-title {
            animation: shake 1s 2 reverse;
            &.show-header-title {
                top: 34vh;
            }
        }
        .header-image {
            z-index: -1;
            .profile-img-border {
                width: 33vh;
                height: 33vh !important;
                .profile-img {
                    width: 30vh;
                    height: 30vh !important;
                    animation: image 15s infinite, border-rad 30s infinite;
                }
            }
        }
    }
    .header-image {
        margin-left: 2em;
        transition: all 1s ease-in-out;
        opacity: 0;
        &.show-header-image {
            opacity: 1;
            height: 28vh;
            .profile-img-border {
                height: 28vh;
                .profile-img {
                    height: 25vh;
                }
            }
        }
        &.hide-header-image {
            height: 0;
            max-width: 28vh;
            opacity: 0;
        }
    }

    .header-title {
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        padding-left: 0.25em;
        padding-right: 0.25em;
        width: 85%;
        height: 2em;
        align-items: center;
        border-radius: 1em;
        transition: top 1s ease-in-out;
        &.show-header-title {
            top: 28vh;
        }
        &.hide-header-title {
            top: 0;
        }
    }
    nav {
        margin-top: 6.5em;
        transition: margin-top 2s ease-in-out;
        &.hide-header-nav-margin {
            margin-top: 4em;
        }
    }
}

.profile-img-border {
    background: linear-gradient(
        45deg,
        #d4145a90,
        #fbb03b90,
        #ff512f90,
        #dd247690,
        #ff61d290
    );
    transition: all 0.5s ease-in-out;
    border-radius: 50em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vh;
    height: 28vh;
    animation: border-rad-min 50s infinite;
    .profile-img {
        &.profile-img-animation {
            animation: image 60s infinite, border-rad 30s infinite;
        }
        transition: all 1s ease-in-out;
        width: 25vh;
        height: 25vh;
        border-radius: 2em;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        animation: border-rad 30s infinite;
        background-image: url("/static/images/profile/img-1.jpeg");
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
        color: #fe9090;
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        border-radius: 0;
    }
    12% {
        transform: translate(-1px, -2px) rotate(-1deg);
        color: #d4145a;
        background-color: #ffff00;
        border-radius: 0.5em;
    }
    22% {
        transform: translate(-3px, 0px) rotate(1deg);
        color: #ff512f;
        background-color: #ffff00;
        border-radius: 1em;
    }
    33% {
        transform: translate(3px, 2px) rotate(0deg);
        color: #f54444;
        background-color: #ffff00;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 1.25em;
    }
    44% {
        transform: translate(1px, -1px) rotate(1deg);
        color: #f12727;
        background-color: #ffff00;
        border-radius: 2em;
    }
    55% {
        transform: translate(-1px, 2px) rotate(-1deg);
        color: #fbb03b;
        background-color: #f54444;
        border-radius: 1.45em;
    }
    66% {
        transform: translate(-3px, 1px) rotate(0deg);
        color: #ffff00;
        background-color: #f54444;
        font-family: fantasy;
        border-radius: 1em;
    }
    77% {
        transform: translate(3px, 1px) rotate(-1deg);
        color: #ff8000;
        background-color: #f54444;
        border-radius: 0.75em;
    }
    89% {
        transform: translate(-1px, -1px) rotate(1deg);
        color: #ff4000;
        background-color: #f54444;
        font-family: cursive;
        border-radius: 0.5em;
    }
    95% {
        transform: translate(1px, 2px) rotate(0deg);
        color: #ff0000;
        background-color: #f54444;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        border-radius: 0.25em;
    }
    100% {
        transform: translate(1px, 1px) rotate(0deg);
        color: white;
        background-color: transparent;
        border-radius: 0;
    }
}
@keyframes image {
    0% {
        background-image: url("/static/images/profile/img-1.jpeg"),
            url("/static/images/profile/img-2.jpeg");
    }
    12% {
        background-image: url("/static/images/profile/img-2.jpeg"),
            url("/static/images/profile/img-3.jpeg");
    }
    24% {
        background-image: url("/static/images/profile/img-3.jpeg"),
            url("/static/images/profile/img-4.jpeg");
    }
    38% {
        background-image: url("/static/images/profile/img-4.jpeg"),
            url("/static/images/profile/img-5.jpeg");
    }
    52% {
        background-image: url("/static/images/profile/img-5.jpeg"),
            url("/static/images/profile/img-6.jpeg");
    }
    68% {
        background-image: url("/static/images/profile/img-6.jpeg"),
            url("/static/images/profile/img-7.jpeg");
    }
    80% {
        background-image: url("/static/images/profile/img-7.jpeg"),
            url("/static/images/profile/img-8.jpeg");
    }
    88% {
        background-image: url("/static/images/profile/img-8.jpeg"),
            url("/static/images/profile/img-1.jpeg");
    }
    92% {
        background-image: url("/static/images/profile/img-8.jpeg"),
            url("/static/images/profile/img-1.jpeg");
    }
    100% {
        background-image: url("/static/images/profile/img-1.jpeg");
    }
}

@keyframes border-rad {
    0% {
        border-radius: 10em 5em 6em 8em;
    }
    12% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    24% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    38% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    52% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    68% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    88% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    95% {
        border-radius: (random(10) + 7) + em (random(10) + 7) + em
            (random(10) + 7) + em (random(10) + 7) + em;
    }
    100% {
        border-radius: 10em 5em 6em 8em;
    }
}
@keyframes border-rad-min {
    0% {
        border-radius: 5em 1em 3em 2em;
    }
    5% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    10% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    15% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    20% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    25% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    30% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    35% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    40% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    45% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    50% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    55% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    60% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    65% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    70% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    75% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    80% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    85% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    90% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    95% {
        border-radius: (random(5) + 1) + em (random(5) + 1) + em (random(5) + 1) +
            em (random(5) + 1) + em;
    }
    100% {
        border-radius: 5em 1em 3em 2em;
    }
}

.main {
    width: 80vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.main-bg {
    background-image: linear-gradient(-60deg, #d4145a 50%, #fbb03b 50%);
    animation: slide 10s ease-in-out infinite alternate;
    transform: scale(18000%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    opacity: 0.5;
    z-index: -1;
    //filter: blur(30px);
}

.layer-1 {
    background-image: linear-gradient(60deg, #ff512f 50%, orange 50%);
    animation-direction: alternate-reverse;
    animation-duration: 15s;
}

.layer-2 {
    background-image: linear-gradient(75deg, orangered 50%, #fe9090 50%);
    animation-duration: 12s;
}

.layer-3 {
    background-image: linear-gradient(-75deg, #f5444490 50%, #f1272790 50%);
    animation-direction: alternate-reverse;
    animation-duration: 20s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

h4.header-nav-item {
    margin: 0;
    padding: 0.25em;
}
.header-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5em;
    h3 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        padding: 0.5em;
        background-color: orange;
        color: #222831 !important;
    }
    transition: all 0.25s;
}

.accordeon-header {
    padding: 0.5em;
    transition: all 0.1s;
    cursor: pointer;
    background-color: transparent;
}

.accordeon-content {
    transition: max-height ease-in-out 0.5s;
    max-height: 0;
    overflow: hidden;
    margin-left: 2em;
    &.open {
        max-height: 30vh;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
