.project-card-container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    .project-card {
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        display: flex;
        border-radius: 1em;
        background-clip: blur(10px);
        width: 75%;
        margin: 1em;
        height: 200px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &.reversed {
            transition: all 0.2s ease-in-out;
            margin-left: 15%;
            &:hover {
                margin-left: 10%;
                width: 77%;
            }
        }
        &:hover {
            margin-left: 5%;
            width: 77%;
            .project-card-text {
                margin: 1em;
            }
            img {
                width: 45%;
            }
        }
        img {
            transition: all 0.35s ease-in-out;
            border-radius: 0 1em 1em 0;
            width: 35%;
            height: auto;
            &.reversed {
                border-radius: 1em 0 0 1em;
            }
        }
        .project-card-text {
            transition: all 1s ease-in-out;
            margin-left: 1em;
            margin-right: 1em;
            width: 65%;
        }
    }
}
.playground-project-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 75vw;
    .playground-project-card {
        position: relative;
        width: calc(25vw * 3 / 4.5);
        height: calc(25vw * 3 / 5);
        .playground-project-card-floating {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(15px);
            border-radius: 1em;
            background-clip: blur(10px);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            &:hover {
                top: -0.5em;
            }
            img {
                border-radius: 1em 1em 0 0;
                width: 100%;
                height: 60%;
            }
            h2 {
                margin: 0;
                margin-top: 0.5em;
                text-align: center;
            }
        }
    }
}
