.home {
    margin: 2em;
}
.project-card-container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    .project-card {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
        display: flex;
        border-radius: 1em;
        background-clip: blur(5px);
        width: 75%;
        margin: 1em;
        height: 200px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        animation: border-rad 50s infinite;

        &.reversed {
            transition: all 0.2s ease-in-out;
            margin-left: 15%;
            text-align: end;
            border-start-end-radius: 1em !important;
            border-end-end-radius: 1em !important;
            &:hover {
                margin-left: 10%;
                width: 77%;
            }
        }
        &:hover {
            margin-left: 5%;
            width: 77%;
            background-color: rgba(202, 71, 10, 0.774);

            .project-card-text {
                margin: 1em;
            }
            img {
                width: 45%;
                &.organizer-logo {
                    width: 40%;
                    filter: invert(100%);
                    &.spring-crud-initializr-logo {
                        filter: none !important;
                        width: 7.5em;
                        height: 7.5em;
                    }
                }
                &.historia-humo-logo {
                    width: 40%;
                }
            }
            .historia-humo-logo-container {
                width: 45%;
                background-color: #e5d283;
                .historia-humo-logo {
                    path {
                        fill: #003566;
                    }
                }
            }
            .blob-container {
                width: 45%;
                .blob {
                    top: 15%;
                    left: 30%;
                    width: 40%;
                }
            }
        }
        img {
            transition: all 0.35s ease-in-out;
            border-radius: 0 0.5em 0.5em 0;
            width: 35%;
            height: auto;
            &.organizer-logo {
                transition: all 1.5s ease-in-out;
            }
            &.historia-humo-logo {
                transition: all 1.5s ease-in-out;
                border-radius: 0.5em 0 0 0.5em;
            }
            &.reversed {
                border-radius: 1em 0 0 1em;
            }
            &.spring-crud-initializr-logo {
                width: 5em;
                height: 5em;
                margin: auto;
                transition: all 0.25s ease-in-out;
            }
        }
        .historia-humo-logo-container {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #003566;
            border-radius: 1em 0 0 1em;
            transition: all 0.35s ease-in-out;
            .historia-humo-logo {
                width: 50%;
                border-radius: 0 1em 1em 0;
                height: auto;
                path {
                    transition: all 2s ease-in-out;
                    fill: #e5d283;
                }
            }
        }
        .project-card-text {
            transition: all 1s ease-in-out;
            margin-left: 1em;
            margin-right: 1em;
            width: 65%;
        }
    }
}

.tech-icon-card-container {
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 1em;
    background-clip: blur(10px);
    width: fit-content;
    padding: 3em;
    margin: 1em;
    height: auto !important;
    width: fit-content !important;
    cursor: auto !important;
    animation: border-rad 30s infinite;
    &.reversed-tech {
        transition: all 0.5s ease-in-out;
        margin-left: 35%;
        text-align: end;
        &:hover {
            margin-left: 30%;
            width: 77%;
        }
    }
    .tech-icon-card-content-container {
        display: flex;
        .tech-icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .tech-icon {
                font-size: 3rem;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
    }
}

.playground-project-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 70vw;
    .playground-project-card {
        position: relative;
        width: calc(20vw * 3 / 4.5);
        height: calc(20vw * 3 / 5);
        margin-bottom: 2em;
        .playground-project-card-floating {
            //background-color: rgba(255, 255, 255, 0.1);
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            border-radius: 1em;
            background-clip: blur(10px);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            padding-bottom: 2em;
            border-top: 1em !important;
            cursor: pointer;
            &:hover {
                top: -0.5em;
                background-color: rgba(202, 71, 10, 0.774);
            }
            img {
                border-radius: 1em 1em 0 0;
                width: 100%;
                height: 60%;
            }
            h2 {
                margin: 0;
                margin-top: 0.5em;
                text-align: center;
            }
        }
    }
}

.blob-container {
    width: 35%;
    height: auto;
    position: relative;
    border-radius: 1em 0 0 1em;
    transition: all 0.5s ease-in-out;
}

.radial-gradient-background {
    background: radial-gradient(#00adb5, #222831);
    background-size: 130% 130%;
    animation: gradient-animation 18s ease infinite;
}

.blob {
    position: absolute;
    top: 13%;
    left: 25%;
    fill: #222831;
    width: 45%;
    animation: moveBlob 30s ease-in-out infinite, fill 20s ease-in-out infinite;
    transform-origin: 50% 50%;
    transition: all 0.5s ease-in-out;
}

@keyframes fill {
    0% {
        fill: #00adb5;
    }
    50% {
        fill: #eeeeee;
    }
    65% {
        fill: #222831;
    }
    85% {
        fill: #222831;
    }
    100% {
        fill: #00adb5;
    }
}

@keyframes moveBlob {
    0% {
        transform: scale(1);
    }
    38% {
        transform: scale(0.8, 1) rotate(160deg);
    }
    40% {
        transform: scale(0.8, 1) rotate(160deg);
    }
    78% {
        transform: scale(1.3) rotate(-20deg);
    }
    80% {
        transform: scale(1.3) rotate(-20deg);
    }
    100% {
        transform: scale(1);
    }
}

.coming-soon {
    display: flex;
    align-items: center;
}
