.project-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-description-container {
        align-self: flex-start;
        background-color: rgba(202, 71, 10, 0.247);
        backdrop-filter: blur(15px);
        border-radius: 1em;
        padding: 1em;
        margin: 2em;
        width: 50vw;
    }
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.mini-projects-controls {
}
