.project-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .project-description-container {
        align-self: flex-start;
        background-color: rgba(202, 71, 10, 0.247);
        backdrop-filter: blur(15px);
        border-radius: 1em;
        padding: 3em;
        margin: 2em;
        width: 50vw;
        animation: about-border-rad-min 50s infinite;
    }
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.mini-projects-controls {
    width: 15vw;
    height: fit-content;
    background-color: rgba(202, 71, 10, 0.247);
    backdrop-filter: blur(15px);
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 3em;
    margin: 2em;
    animation: about-border-rad-min 50s infinite;

    .restart-button {
        background-color: orange;
        color: gainsboro;
        border-radius: 1em;
        padding: 0.75em;
        font-size: 1.15rem;
        border: none;
        outline: none;
        margin-top: 2em;
        transition: background-color 0.25s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: orangered;
        }
    }
    .input-container {
        position: relative;
        width: 100%;
        margin-top: 2em;
        padding-top: 0.75em;

        &.checkbox {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            accent-color: orange;

            &.radio-buttons {
                padding-top: 0;
                margin-top: 0;
            }
            .input {
                width: auto;
            }
            .label {
                padding-left: 0.5em;
                color: gainsboro;
                position: initial;
                bottom: 0;
            }
        }

        .slider {
            width: 100%;
            height: 0.5em;
            background: transparent;

            outline: none;
            border-radius: 1em;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 1em;
                height: 1em;
                background: red;
                cursor: pointer;
                border-radius: 2em;
            }
        }
        .select-label {
            font-size: 12px;
            color: gainsboro;
            position: absolute;
            top: 0;
        }
    }
}

.mini-project-container {
    display: flex;
    flex-direction: row;
}
